{% extends 'base.html.twig' %}

{% block title %}Hello ContactoController!{% endblock %}

{% block body %}
    <h1>Contacto</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Enviar</button>
    {{ form_end(form) }}
{% endblock %}
